* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header .navbar {
  background-color: #FFFFFF;
  color: #3774DF;

}

header .navbar .navbar-brand img{
  width: 138px;
}

header .navbar  .nav-item {
  padding: 15px;
}

header .navbar .nav-item .nav-link {
  color: #3774DF;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 22px;
}

header .navbar .nav-item .nav-link:focus {
  color: #3774DF;
}

header .navbar .nav-item .nav-link:hover {
  color: #3774DF;
}

header .navbar .navbar-toggler-icon, .navbar-toggler {
  color: #FFFFFF;
}

footer {

  position: absolute;
  width: 100%;
  height: 323px;
  left: 0px;
  top: 5992px;
  padding: 50px;
  background: rgba(1, 70, 192, 0.87);
  color: #FFFFFF;
  display: block;
}

footer .footer-heading {
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
}

footer hr {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}

footer .footer-list ul li{
  list-style: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

footer .copywrite {
  text-align: center;
  padding: 20px;
}
 
main .slider .carousel-inner .carousel-item  .carousel-item{
    height: 200px;
} 
main .carousel-item img{
    height: 538px;
}
 
main .slider .carousel-inner .carousel-item h5 {
  position: absolute;
  left: 6.04%;
  right: 72.01%;
  top: 3.71%;
  bottom: 95.96%;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 26px;
}

main .slider .carousel-inner .carousel-caption{
  position: absolute;
  width: 381px;
  height: 60px;
  left: 90px;
  top: 293px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

main .textbox1 {
  padding: 20px;
}

main .textbox1 h3 {
  position: absolute;
  width: 150px;
  height: 23px;
  left: 40px;
  top: 632px;

  padding-top: 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  /* identical to box height, or 112% */


  color: #3774DF;
}

main .textbox1 p {
  position: absolute;
  width: 748px;
  height: 94px;
  left: 40px;
  top: 669px;
  
  /* Text-normal */
  margin-top: 40px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* or 124% */
  
  
  color: #686868;
}

main .textbox1 hr {
  position: absolute;
  width: 156.54px;
  height: 0px;
  left: 40.73px;
  top: 660.5px;
  
  border: 4px solid #3774DF;
  border-radius: 10px;
}

main .textbox2 img{
  position: absolute;
  width: 603px;
  height: 429px;
  left: 47px;
  top: 150px;
}

main .textbox2 h3 {
  position: absolute;
  width: 418px;
  height: 23px;
  left: -65px;
  top: 170px;
  
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 22px;
  /* identical to box height, or 112% */
  color: #686868;
}

main .textbox2 hr {
  position: absolute;
  width: 400px;
  left: -65px;
  top: 185px;
  
  border: 4px solid #3774DF;
  border-radius: 10px;
}

main .textbox2 p {
  position: absolute;
  width: 559px;
  height: 23px;
  left: -65px;
  top: 250px;
  
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 22px;
  /* identical to box height, or 112% */
  color: #686868;
}

main .textbox2 button {
  background: #3774DF;
  border-radius: 8px;
  border: 1px solid #3774DF;
  padding: 30px;
  position: absolute;
  /* width: 559px; */
  height: 23px;
  left: -65px;
  top: 450px;

  

  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  /* identical to box height, or 156% */
  
  display: flex;
  align-items: center;
  justify-items: center;
  
  color: #FFFFFF;
}

main .hours-note {
  position: absolute;
  width: 449px;
  height: 422px;
  left: 343px;
  top: 1220px;
  
  background: #3774DF;
  border-radius: 8px;

  /* border-left: ; */
   
}

main .hours-note p {
  position: absolute;
  width: 289px;
  height: 364px;
  left: 62px;
  top: 35px;
  
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  
  
  color: #FFFFFF;
  /* color: #3774DF; */
}

main .textbox3 h2{
  position: absolute;
  width: 127px;
  height: 23px;
  left: 40px;
  top: 1674px;
  
  
  margin-top: 30px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  /* identical to box height, or 112% */
  
  
  color: #3774DF;
}

main .textbox3 hr {
  position: absolute;
  width: 131.54px;
  height: 0px;
  left: 40px;
  top: 1707px;
  
  margin-top: 40px;
  border: 4px solid #3774DF;
}

main .textbox3 p {
  position: absolute;
  width: 671px;
  height: 144px;
  left: 60px;
  top: 1168px;
  
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */
  
  
  color: #686868;
}

main .textbox3 img {
  position: absolute;
  width: 671px;
  height: 444px;
  left: -10px;
  top: 1128px;
  
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */
  
  
  color: #686868;
}

main .textbox4 {
  padding: 80px;

  position: absolute;
  width: 100%;
  height: 221px;
  left: 0px;
  top: 2286px;
  
  background: #C4C4C4;
}

main .textbox4 h2 {
  position: absolute;
  width: 855px;
  height: 140px;
  left: 292px;
  top: 45px;
  
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */
  
  text-align: center;
  
  color: #3774DF;
}

main .textbox4 hr {
  position: absolute;
  width: 168.54px;
  height: 0px;
  left: 629px;
  top: 65px;
  
  border: 4px solid #3774DF;
}

main .textbox4 .p1 {
  position: absolute;
  width: 855px;
  height: 140px;
  left: 292px;
  top: 107px;
  
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */
  
  text-align: center;
  
  color: #000000;
}

main .textbox4 .p2 {
  position: absolute;
  width: 955px;
  height: 140px;
  left: 292px;
  top: 127px;
  
  margin-top: 30px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */
  
  text-align: center;
  
  color: #000000;
}

main .product-slider {
  position: absolute;
  width: 955px;
  height: 140px;
  left: 292px;
  top: 2527px;
}

main .product-slider .row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

main .product-slider .row .col-md-3 {
  padding: 50px;
  
}

main .product-slider .row .product-name {
  /* position: absolute;
  width: 182px;
  height: 19px;
  left: 816px;
  top: 2770px; */
  
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  
  color: #686868;
  
}

main .product-slider .row .product-price {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  /* text-decoration-line: line-through; */
  /* or 165% */
  
  
  color: #3774DF;;
}

main .product-slider .row .product-price-new {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  /* text-decoration: none; */
  text-decoration-line: line-through; 
  /* or 165% */
  
  
  color: #686868;
}

main .banner .jumbotron{
  position: absolute;
  width: 100%;
  height: 632px;
  left: 0px;
  top: 3651px;
  /* background-image: url("/img/images/Rectangle\ 133.png"); */
  background-repeat: no-repeat;
  background: linear-gradient( rgba(17, 17, 17, 0.5), rgba(71, 62, 62, 0.5) ), url('/img/images/Rectangle\ 133.png');
  background-size: cover;
  opacity: 0.75;
}

main .banner .jumbotron .container {
   text-align: center;
   margin-top: 5%;
}

main .banner .jumbotron .container .display-4 {
  color: #3774DF;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;

}

main .banner .jumbotron .container .lead {
  color: #686868;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;


}

main .notification-form {
  padding: 20px;
    
position: absolute;
width: 1037px;
height: 230px;
left: 362px;
top: 3520px;

background: #C4C4C4;
}

main .notification-form h2 {
  position: absolute;
  left: 5.72%;
  right: 44.44%;
  top: 10.25%;
  bottom: 46.27%;
  
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  /* or 165% */
  
  
  color: #FFFFFF;
}

main .notification-form form input {
  position: absolute;
  left: 5.72%;
  right: 25.56%;
  top: 44.54%;
  bottom: 44.59%;
  padding: 30px;
  width: 50%;
  background-color: #C4C4C4;
  
  border: 3px solid #686868;
  border-radius: 5px;
}


main .notification-form form button {
  position: absolute;
  left:  59.99%;
  right: 25.56%;
  top: 44.54%;
  bottom: 44.59%;
  padding: 30px;
  width: 20%;
  
  
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  color: #FFFFFF;
  background: #3774DF;
  border: none;
}






/* @media (max-width: 425px) {

} */

